@using ServiceRecord.ViewModels;
@model List<ClanBattle>

<link rel="stylesheet" href="~/css/game-result-card.css" />

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script>
    $(function () {
        var opponents = [
            "Adamant",
            "Dominated",
            "[randoms]"
        ];
    }  );

    $(function () {
        $("#filter-results-opponents").autocomplete({
            source: opponents,
            position: { my: "left top", at: "left bottom", collision: "none" },
            delay: 0
            });
    });
</script>


@{

    ViewData["Title"] = "CompanyResults";

    Layout = "~/Components/_SharedViews/_Layout.cshtml";

    string companyName = Model.FirstOrDefault().primaryCompany;
}

<h1><u>@companyName</u></h1>

@if (Model.Count == 1)
{
    <h4>@companyName has only 1 Warlords match on record:</h4>
}
else
{
    <div class="game-result-summation">
        <h4>Wins: </h4>
        <h4>Losses: </h4>
        <h4>Ratio: </h4>
    </div>

    <div class="game-result-controls">
        <div>
            Filter by:
        </div>
        <div class="input-group-btn ui-widget filter-button">
            <button class="btn btn-default" id="filter-results-opponents" type="submit">Opponent</button>
        </div>
        <div class="input-group-btn filter-button">
            <button class="btn btn-default" type="submit">Game Type</button>
        </div>
        <div class="input-group-btn filter-button">
            <button class="btn btn-default" type="submit">Since</button>
        </div>


    </div>
}

@foreach (ClanBattle battle in Model)
{

    @if (battle.GetTeam() == 1)
    {
        <div class="game-result-card" id="accordion">
            <div class="team-result team-result-ally team-result-red">
                <h2>@battle.score</h2>
                <h3>@battle.primaryCompany</h3>
            </div>
            <div class="game-result-spacer-red-active"></div>
            <div class="team-result team-result-enemy team-result-blue">
                <h2>@battle.enemyScore</h2>
                <h3>@battle.enemyHeader</h3>
            </div>
        </div>
    }
    else
    {
        <div class="game-result-card" id="accordion">
            <div class="team-result team-result-ally team-result-blue">
                <h2>@battle.score</h2>
                <h3>@battle.primaryCompany</h3>
            </div>
            <div class="game-result-spacer-blue-active"></div>
            <div class="team-result team-result-enemy team-result-red">
                <h2>@battle.enemyScore</h2>
                <h3>@battle.enemyHeader</h3>
            </div>
        </div>
    }

}