@using ServiceRecord.ViewModels;
@using System.Globalization;
@model IOrderedEnumerable<ClanBattle>

<link rel="stylesheet" href="~/css/game-result-card.css" />
<script src="~/js/game-result-card.js"></script>

@{

    ViewData["Title"] = "Company Results";

    Layout = "~/Components/_SharedViews/_Layout.cshtml";

    string companyName = Model.FirstOrDefault().primaryCompany;

}

<div class="company-title-header">
    <h1><b>@companyName</b></h1>

    <div class="filter-controls">
    
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 id="opponent-filter-btn">Against everyone</h5>
            </button>
            <div class="dropdown-menu">
                <p class="dropdown-item" onclick="ShowAllOpponentsUsing('opponent-hidden', (this.textContent))">Against everyone</p>
                <p class="dropdown-item" onclick="ShowOnlyClanOpponentsUsing('opponent-hidden', (this.textContent))">Clans only</p>
                <p class="dropdown-item" onclick="ShowOnlyNonClanOpponentsUsing('opponent-hidden', (this.textContent))">Randoms only</p>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 id="date-filter-btn">Against everyone</h5>
            </button>
            <div class="dropdown-menu">
                <p class="dropdown-item" onclick="ShowAllDatesUsing('date-hidden', (this.textContent))">Since site launch</p>
                <p class="dropdown-item" onclick="ShowOnlyDatesForLast30DaysUsing('date-hidden', (this.textContent))">Last 30 days</p>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5 id="mode-filter-btn">Against everyone</h5>
            </button>
            <div class="dropdown-menu">
                <p class="dropdown-item" onclick="ShowAllModesUsing('mode-hidden', (this.textContent))">For all modes</p>
                <p class="dropdown-item" onclick="ShowOnlyArenaModesUsing('mode-hidden', (this.textContent))">Arena only</p>
                <p class="dropdown-item" onclick="ShowOnlyWarzoneModesUsing('mode-hidden', (this.textContent))">Warzone only</p>
            </div>
        </div>

    </div> <!-- End filter controls-->

</div>  <!-- End company title header-->

@if (Model.Count() == 1)
{
    <h4>@companyName has only 1 match on record:</h4>
}
else
{
    double winCount = Model.Where(x => x.isWin == true).Count();
    double lossCount = Model.Count() - winCount;

    string winRatio;
    if (lossCount < 1)
    {
        winRatio = "--";
    }
    else
    {
        double ratioCalc = winCount / lossCount;
        winRatio = ratioCalc.ToString("0.00");
    }

    <div class="game-result-summation">
        <h4>Wins:</h4>
        <h4><b><u id="winCount">@winCount</u></b></h4>
        <h4>Losses:</h4>
        <h4><b><u id="lossCount">@lossCount</u></b></h4>
        <h4>Ratio:</h4>
        <h4><b><u id="winRatio">@winRatio</u></b></h4>
    </div>

}

<div class="results-cards">
    @foreach (ClanBattle battle in Model)
    {
    
        @if (battle.GetTeam() == 1)
        {
            <div class="game-result-card">
                <div class="team-result team-result-ally team-result-red">
                    <h2>@battle.score</h2>
                    <h3>@battle.primaryCompany</h3>
                </div>
                <div class="game-result-spacer-red-active"></div>
                <div class="team-result team-result-enemy team-result-blue">
                    <h2>@battle.enemyScore</h2>
                    @if (battle.isClanBattle)
                    {   <h3 class="enemy-clan-link"><a asp-controller="ServiceRecord" asp-action="CompanyCards" asp-route-company="@battle.enemyHeader">@battle.enemyHeader</a></h3> }
                    else
                    {   <h3 class="non-clan-header">@battle.enemyHeader</h3> }
                </div>
                <div class="match-filter-data">
                    <p class="filter-isWin">@battle.isWin</p>
                    <p class="filter-isClanBattle">@battle.isClanBattle</p>
                    <p class="filter-matchDate">@battle.matchDate</p>
                    <p class="filter-gameMode">@battle.gameMode</p>
                </div>
            </div>
        }
        else
        {
            <div class="game-result-card">
                <div class="team-result team-result-ally team-result-blue">
                    <h2>@battle.score</h2>
                    <h3>@battle.primaryCompany</h3>
                </div>
                <div class="game-result-spacer-blue-active"></div>
                <div class="team-result team-result-enemy team-result-red">
                    <h2>@battle.enemyScore</h2>
                    @if (battle.isClanBattle)
                    {   <h3 class="enemy-clan-link"><a asp-controller="ServiceRecord" asp-action="CompanyCards" asp-route-company="@battle.enemyHeader">@battle.enemyHeader</a></h3> }
                    else
                    {   <h3 class="non-clan-header">@battle.enemyHeader</h3> }
                </div>
                <div class="match-filter-data">
                    <p class="filter-isWin">@battle.isWin</p>
                    <p class="filter-isClanBattle">@battle.isClanBattle</p>
                    <p class="filter-matchDate">@battle.matchDate</p>
                    <p class="filter-gameMode">@battle.gameMode</p>
                </div>
            </div>
        }
    
    }
</div>