<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spartan Clash</title>
    
    <link rel="stylesheet" href="~/Content/css" />
    <environment names="Development,Staging,Production">
        <script src="~/bundles/modernizr")></script>
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Spartan Clash", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Leaderboards", "Index", "Leaderboards")</li>
                    <li>@Html.ActionLink("Service Record", "Index", "ServiceRecord")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100002194-1', 'auto');
  ga('send', 'pageview');

    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="disclaimer">
            <p>
            &copy; @DateTime.Now.Year - This application is offered by SpartanClash.com, which is solely responsible for its content. It is not sponsored or endorsed by Microsoft. This application uses the Halo® Game Data API.
            <br/>
            <br/>
            Halo © @DateTime.Now.Year Microsoft Corporation. All rights reserved. Microsoft, Halo, and the Halo Logo are trademarks of the Microsoft group of companies.
            </p>
        </footer>
    </div>
    <environment names="Development,Staging,Production">
        <script src="~/bundles/jquery")></script>
        <script src="~/bundles/bootstrap")></script>
    </environment>>
    @RenderSection("scripts", required: false)
</body>
</html>
