@model SpartanClash.ViewModels.Leaderboard
@{
    ViewData["Title"] = "LeaderboardsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><u>Leaderboards</u></h1>
<h4>Play 10 or more Warlords matches as a Spartan Company to rank.</h4>


<div id="LeaderboardTable" class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Company</th>
                <th>Win %</th>
                <th>Wins</th>
                <th>Losses</th>
            </tr>
        </thead>
        <tbody>
            @foreach(SpartanClash.ViewModels.LeaderboardItem item in Model.leaderboardItems)
            {
                <tr>
                    <td>@item.rank</td>
                    <td><a asp-controller="ServiceRecord" asp-action="CompanyResults" asp-route-company=@item.companyName>@item.companyName</a></td>
                    <td>@item.winPercent %</td>
                    <td>@item.wins wins</td>
                    <td>@item.losses losses</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

